/build
/bin
/gradle
/.gradle
/gradlew
/setttings.gradle
gradlew.bat
HomeEducation.iml
local.properties
/.idea
gradlew
WizarposPayment2.iml
/*.iml
/proguard
lint.xml
*~
.DS_Store
*.iml
/captures/
HomeEducation/HomeEducation-2.0.25.apk
HomeEducation_V7/assets/
HomeEducation_V7/res/drawable-ldpi/
wechat_sdk_sample_android/assets/
wechat_sdk_sample_android/build/generated/res/
wechat_sdk_sample_android/build/generated/source/aidl/
wechat_sdk_sample_android/build/generated/source/rs/
wechat_sdk_sample_android/build/intermediates/assets/
wechat_sdk_sample_android/build/intermediates/blame/
wechat_sdk_sample_android/build/intermediates/incremental/mergeDebugResources/
wechat_sdk_sample_android/build/intermediates/rs/
wechat_sdk_sample_android/res/drawable-xhdpi/
youtuiShare_lib/assets/
youtuiShare_lib/res/drawable-ldpi/
youtuiShare_lib/res/drawable-mdpi/
youtuiShare_lib/res/drawable-xhdpi/
youtuiShare_lib/src/
HomeEducation_V7
wechat_sdk_sample_android
youtuiShare_lib